header .container img{
	width: 150px;
	height: 149px;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

header .titulo{
	font-family: "acier-bat-noir",sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

.container li{
	margin: auto;
	padding-top: 50px;
	padding-bottom: 30px;
}

article .container{
	font-family: "sutro",serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.1618em;
}
